.about {
    // min-height: 400px;
    margin: 30px 0;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 50px 0;
    }
    &__logo {

    }
    &__description {
        padding-left: 150px;
    }
}