.button {
    // box model
    display: inline-block;
    vertical-align: top;
    margin: 50px 0;
    padding: 13px 15px;
    z-index: 99;
    position: relative;
    text-decoration: none;
    border: 1px solid $buttoncolor;
    @include font($buttoncolor,$Hammer,1rem, bold);
    text-transform: uppercase;

    &:hover {
        background: lighten($accent, 20%);
        // border: none;
        color: $buttoncolor;
        transition: 0.3s ease-in-out all;
    }

    &--center {
        // display: block;
        // text-align: center;
        // @include centerer-/x;
    }
}