.expertise {
    padding:  0 30px;

    @include atDesktop {
        padding: 0;
    }
    &__header {
        padding-top: 50px;
        text-align: center;
        position: relative;

        &::after {
            content: '';
            @include centerer-x;
            bottom: -20px;
            height: 3px;
            width: 50px;
            background: #c6c4c9;
        }
    }

    &__title {
        // box model
        @include font(#413d4b,$RobotoBlack,0.875rem,bold);
        text-transform: uppercase;
        text-align: center;
    }
    
    &__text {
        // box model
        @include font(#2f2d35,$Plafair,0.9em, 300);

        &--roboto {
            @include font(#333333,$RobotoLight,0.875rem,100);
            text-align: center;
        }
    }

    &__img {
        // display: block;
        // margin: 0 auto;
    }
    &__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 0;

        @include atTabletsPortrait {
            flex-direction: row;
            align-items: flex-end;
        }

        @include atDesktop {
            flex-direction: row;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 30px;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;

        @include atTabletsPortrait {
            // box model
            // width: 33%;
            border-left: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
        }

        @include atTabletsLandscape {
            width: 33%;
        }

        @include atDesktop {
            // box model
            width: 33%;
        }

}
}
.expertise__item:nth-child(1) {

    @include atTabletsLandscape {
        border-top: none;
    }
    @include atDesktop {
    border-top: none;
    border-left: none;

    }
}
.expertise__item:nth-child(2) {

    @include atTabletsLandscape {
        border-top: none;
    }

    @include atDesktop {
        border-top: none;

    }
}
.expertise__item:nth-child(3) {

    @include atTabletsLandscape {
        border-top: none;
        border-right: none;
    }

    @include atDesktop {
        border-top: none;
        border-right: none;
    }
}

.expertise__item:nth-child(4) {
    @include atDesktop {
        border-left: none;
        border-bottom: none; 
    }
}
.expertise__item:nth-child(6) {

    @include atTabletsLandscape {
        border-right: none;

    }

    @include atDesktop {
        border-right: none;
        border-bottom: none;
    }
}


