.footer {
    // positioning
    position: relative;
    // box model
    padding: 0 30px;

    // visual
    background-image: url("./img/bg-footer.png");
    background-size: cover;
    // height: 400px;
    background-color: $accent;

    @include atTabletsPortrait {
        padding: 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($accent,0.9);
    }

    &__container {
        z-index: 99;
        position: relative;
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include atTabletsPortrait {
            flex-direction: row;
            align-items: flex-start;
            align-content: flex-end;
            padding: 70px 30px;
        }
    }

    &-block {
        margin: 40px 0;
        @include atTabletsPortrait {
            width: 30%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: flex-end;
        }
    }

    &__text {
        padding-top: 20px;
        padding-bottom: 50px;
        @include font($white,$RobotoLight,0.875rem,300);
        line-height: 1.5rem;

        @include atTabletsPortrait {
            // padding-top: 20px;
            height: 200px;
            padding-bottom: 80px;
            margin: 0;

        }

        &--map {
            padding-bottom: 20px;
            &::before {
                content: url('./img/icons/map.png');
        }
        }
        &--phone {
            padding-bottom: 0;
            vertical-align: middle;
            text-align: center;
            &::before {
                content: url('./img/icons/phone.png');
                padding-right: 20px;
                vertical-align: bottom;
                // transform: rotate(180deg);
        }
    }
    }
    
    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        // flex-direction: row;
        align-items: baseline;

        @include atTabletsPortrait {
            flex-direction: row;
        }
    }

    &__item {
        display: inline-block;
        vertical-align: top;

        &-link {
            text-decoration: none;
            @include font($white,$RobotoRegular,0.875rem,bold);

            &:hover, &:active {
                color: $buttoncolor;
                transition: 0.3s ease-in-out all;
            }
        }
    }

    &__title {
        @include font($white,$RobotoBlack,0.93rem, bold);
        text-transform: uppercase;
        text-align: center;
        
        @include atTabletsPortrait {
            text-align: left;
            margin-bottom: 40px;
        }
    }
    
    &__copyright {
        @include font($white,$RobotoRegular,0.875rem,bold);
}

    &__sub {
        display: inline-block;
        padding: 10px 30px;
        background: none;
        display: none;
    }

    &__submit {
        background: url('./img/icons/arrive.png') no-repeat #9f97b2 center center;
        // opacity: 0.3;
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 0;
        padding: 10px 30px;

        display: none;
    }
}