.form {
    // box model
    padding: 0 30px;
    @include atDesktop {
        padding: 0;
    }

    &-main__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 70px;
    }
    &__form {
        // width: 460px;
    }

    &__container {
        width: 100%;
        @include atDesktop {
            
        }
    }

    &__group-input {
        margin: 20px 0;
    }
    &__input {
        padding: 15px 15px;
        display: inline-block;
        width: 100%;
    }

    &__textarea {
        // bg
    }

}