.icon {

    @include atDesktop {
        display: none;
    }
    position: absolute;
    top: 25px;
    right: 15px;
    z-index: 100;
    
    // box model
    height: 40px;
    width: 40px;    

    &::before {
        content: '';
        // positoning
        position: absolute;
        left: 5px;
        top: 25px;
        transform-origin: 0 50%;
        
        // box model
        display: block;
        height: 3px;
        width: 28px;
        
        // visual
        background-color: $white;
        transition: 0.3s ease-in-out all;
    }

    &__middle {
        // positioning
        position: absolute;
        left: 5px;
        top: 18px;

        // box model
        display: block;
        height: 3px;
        width: 28px;

        // visual
        background-color: $white;
        transition: all 0.3s ease-out;
    }

    &::after {
        content: "";
        // positioning
        position: absolute;
        left: 5px;
        top: 11px;
        transform-origin: 0 50%;

        // box model
        display: block;
        height: 3px;
        width: 28px;

        // visual
        background-color: $white;
        transition: all 0.3s ease-out; 
    }
       &--close-x {
        // positioining
        position: fixed;
        left: -230px;
        z-index: 999999999;
        // visual
        background-color: transparent;
        border: 1px solid rgba($white, 0.2);

        @include atTabletsLandscape {
            // visual
            background-color: $white;
        }
         &::before {
            // positioning
            left: 9px;
            top: 28px;
            transform: rotate(-45deg);

            // visual
            background-color: $white;
        }
        &::after {
            // positioning
            left: 9px;
            top: 8px;
            transform: rotate(45deg);

            // visual
            background-color: $white;
        }

}
}