.logo {
    // positioning
    position: relative;
    z-index: 9999;

    // box model
    &--header {

        @include atDesktop {
            padding-top: 0;
            margin: 0;

        }
        margin: 0 auto;
        padding-top: 20px;
    }

    &--footer {
        margin: 0 auto;
        padding-top: 20px;
        width: 50%;

        @include atTabletsPortrait {
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
        }
    }
}