.main-menu {
    // z-index: 99;
    // positioning
    position: fixed;
    bottom: 0;
    left: -100px;
    top: 0;
    z-index: 999999;

    // box model
    width: 250px;
    padding: 30px;

    // visual
    background-color: $buttoncolor;
    transition: all 0.3s ease-out;
    visibility: hidden;

    @include atDesktop {
        padding-left: 25%;
        position: static;
        background: none;
        visibility: visible;
        width: auto;
    }

    &--shown {
        // positioning
        position: fixed;
        left: 0;
        transform: translateX(-250px);
        transition: 1s;
        //visual
        opacity: 0.99;
        visibility: visible;
    }

    &__list {
        // box model
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include atDesktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__item {
        // box model
        display: inline-block;
        padding-right: 20px;
        padding: 15px 0;

        @include atDesktop {
           padding-right: 20px;
           padding-top: 0;
           padding-bottom: 0; 
        }
    }

    a {
        @include font($white,$RobotoBlack,0.8rem,500);
        text-decoration: none;
        text-transform: uppercase;
        
        &:hover,&:active {
            // typography
            color: $buttoncolor;
            transition: 0.3s ease-in-out all;
        }
    }
}