.partners {
    &__container {

        @include atDesktop {
            padding-left: 50px;
        }
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        @include atDesktop {
            // box model
            flex-direction: row;
        }
    }
    &__img {
        // width: 50%;
        padding: 20px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}