.section {
    // box model
    
    &__title {
        margin-top: 0;
        @include font(#413d4b,$Plafair,1.375rem,bold);
        text-transform: uppercase;

        &--expertise {
            text-align: center;
            // padding: 
        }
        &--team {
             position: relative;
             @include font($white,$Plafair,1.375rem,bold);

             &::after {
                 content: '';
                 @include centerer-x;
                 bottom: -15px;
                background: #655d80;
                height: 3px;
                width: 50px;
             }
        }
    }
}