.socials {

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        list-style: none;
        padding: 20px 0;
    }

    &__item {
        height: 40px;
        width: 40px;
    }
}