.works {

    &__container {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // text-align: right;
        padding-top: 70px;
    }
    &__title {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        
    }

    &__more {
        display: inline-block;
        vertical-align: top;
        padding-left: 70%;
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        padding-top: 70px;

    }

    &__pic {
        width: 237px;
        height: 200px;
        // display: inline-block;
    }
}