section.expertise: .container
    header.expertise__header
        h3.section__title.section__title--expertise Expertise
        p.expertise__text Lorem ipsum dolor sit amet proin gravida nibh vel velit
    header.expertise__list
        mixin feature(iconURL, title, text, alt)
            .expertise__item
                img.expertise__img(src=iconURL alt=alt)
                h3.expertise__title=title
                p.expertise__text.expertise__text--roboto=text
        +feature('./img/icons/screen.png','Web design & development','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','photoshop')
        +feature('./img/icons/paint.png','Branding Indentity','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','branding')
        +feature('./img/icons/mobile.png','Mobile App','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','app')
        +feature('./img/icons/clock.png','SEARCH ENGINE OPTIMIZATION','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','optimization')
        +feature('./img/icons/dendi.png','Game Development','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','game')
        +feature('./img/icons/heart.png','Made with love','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','love')