section.expertise: .container
    h3.section__text.section__text--expertise Expertise
    p.expertise__text Lorem ipsum dolor sit amet proin gravida nibh vel velit
    mixin feature(iconURL, title, text, alt)
        img.expertise__img(src=iconURL alt=alt)
        h3.expertise__title=title
        p.expertise__text=text
    +feature('./img/web.png','Web design & development','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','photoshop')
    +feature('./img/brand.png','Branding Indentity','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','branding')
    +feature('./img/mobile.png','Mobile App','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','app')
    +feature('./img/search.png','SEARCH ENGINE OPTIMIZATION','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','optimization')
    +feature('./img/game.png','Game Development','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','game')
    +feature('./img/love.png','Made with love','This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.','love')