footer.footer: .container
    .footer__container
        .footer-block
            .logo: img(src="./img/logo.png")
            .footer__text lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
            ul.footer__list
                li.footer__item: a.footer__item-link(href="#") Help
                li.footer__item: a.footer__item-link(href="#") Terms & Condition
                li.footer__item: a.footer__item-link(href="#") Privacy
        .footer-block
            h3.footer__title Our studio
            p.footer__text.footer__text--map Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
            p.footer__text.footer__text--phone (+62) 21-2224 3333
        
        .footer-block
            h3.footer__title Stay in touch
            input.footer__sub(type="text" placeholder="Subscribe on newsletter")
            input.footer__submit(type="submit" value='')
            .socials
                ul.socials__list
                    - var socials = ["./img/fb.png","./img/"]
                    each item in socials
                        li.socials__item: a.socials__link: img(src=socials)
            .footer__copyright Copyright @ 2015- Tajem Creative