section.form(id="contacts").section: .container
    .form-main__container
        .form__container
            h2.form__title Give us a good news
            form.form__form(action="order.php" method="POST")
                .form__group-input
                    input.form__input(type="text" name="fullname" placeholder="Name")
                .form__group-input
                    input.form__input(type="email" name="email" placeholder="Email")
                .form__group-input
                    input.form__input(type="text" name="subject" placeholder="Subject")
                .form__group-input
                    textarea.form__textarea(placeholder="Your Message")
                .center
                    input.form__button.button(type="submit" value="Submit")

        .partners__container
            h2.form__title Our happy clients
            .partners__gallery
                img.partners__img(src="./img/icons/zara.png")
                img.partners__img(src="./img/icons/mango.png")
                img.partners__img(src="./img/icons/newyork.png")
                img.partners__img(src="./img/icons/gucci.png")
                img.partners__img(src="./img/icons/calvinklein.png")
                img.partners__img(src="./img/icons/nike.png")
                img.partners__img(src="./img/icons/converse.png")
                img.partners__img(src="./img/icons/puma.png")
                img.partners__img(src="./img/icons/levis.png")
                img.partners__img(src="./img/icons/Bilabong.png")