section.form: .container
    .form__container
        h2.form__title Give us a good news
        form.form__form(action="" method="POST")
            .form__group-input
                input.form__input(type="text" placeholder="Name")
            .form__group-input
                input.form__input(type="email" placeholder="Email")
            .form__group-input
                input.form__input(type="text" placeholder="Subject")
            .form__group-input
                textarea.form__textarea(placeholder="Your Message")
            input.form__button(type="submit" value="Submit")

    .partners__container
        h2.form__title Our happy clients
        img.partners__img(src="./img/partner.png")
        img.partners__img(src="./img/partner.png")
        img.partners__img(src="./img/partner.png")
        img.partners__img(src="./img/partner.png")
        img.partners__img(src="./img/partner.png")
        img.partners__img(src="./img/partner.png")
        img.partners__img(src="./img/partner.png")
        img.partners__img(src="./img/partner.png")
        img.partners__img(src="./img/partner.png")
        img.partners__img(src="./img/partner.png")