section.team.section: .container
    header.team__header
        h3.section__title.section__title--team MEET OUR AMAZING TEAM
        p.team__text Lorem ipsum dolor sit amet proin gravida nibh vel velit
        .team__list
            mixin team(imgURL,personName,position)
                .team__item
                    img.team__img(src=imgURL)
                    h4.team__name=personName
                    p.team__position=position
            +team('./img/person.jpg','Semf UCUK','CEO & Founder')
            +team('./img/person.jpg','DIK ADALIN','engenering')
            +team('./img/person.jpg','Jeng KOl','Designer')
            +team('./img/person.jpg','PET ROMAK','Marketing')
    sub.team__subscription Become a part of our dream team, let's join us!
    .center
        a.button.button--center(href="#") We are Hiring
