section.works(id="works").section
    .container
        .works__container
            h3.works__title Our works
            a.works__more(href="https://dribbble.com/" target='_blank') See all projects in dribbbble
    .works__gallery
        img.works__pic(src='./img/pic.png')
        img.works__pic(src='./img/pic1.png')
        img.works__pic(src='./img/pic.png')
        img.works__pic(src='./img/pic1.png')
        img.works__pic(src='./img/pic.png')
        img.works__pic(src='./img/pic1.png')
        img.works__pic(src='./img/pic.png')
        img.works__pic(src='./img/pic1.png')
        img.works__pic(src='./img/pic.png')
        img.works__pic(src='./img/pic1.png')
        img.works__pic(src='./img/pic.png')
        img.works__pic(src='./img/pic1.png')                
    .container
        .center
            a.button(href="#") Load More