// colors
$white: #fff;
$accent: #3a2e5e;
$buttoncolor: #00e0d0;
$sectionColor: #2f2453;
$titleColor: #413d4b;
$textColor: #fafafa;

// fonts
$RobotoLight: 'Roboto Light',sans-serif;
$RobotoBlack: 'Roboto Black',sans-serif;
$RobotoRegular: 'Roboto Regualar', sans-serif;
$Hammer: 'Hammersmith One', sans-serif;
$Plafair: 'Playfair Display Black', serif;
