
<section class="about section" data-anchor="about" id="about">
  <div class="container">
    <div class="about__container">
      <div class="about__logo"><img class="about__pic" src="./img/logo2.png"/></div>
      <div class="about__description">
        <h3 class="section__title">Our Story</h3>
        <p class="about__text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <p class="about__text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.                </p>
        <div class="center"><a class="button" href="#learn more">Learn More</a></div>
      </div>
    </div>
  </div>
</section>