
<nav class="main-menu">
  <ul class="main-menu__list">
    <li class="main-menu__item"><a class="main-menu__link" href="#home" data-link="home" id="homelink">Home</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#about" data-link="about" id="aboutlink">About</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#expertise" data-link="expertise" id="expertiselink">Expertise</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#team" data-link="teams" id="teamlink">Teams</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#works" data-link="works" id="workslink">Works</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#reviews" data-link="peoplesay" id="reviewslink">People say</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#contacts" data-link="contact" id="contactslink">Contact</a></li>
  </ul>
</nav>