include ./templates/header.pug
body
    header.header: .container
        .main-nav
            .logo.logo--header: img(src="./img/logo.png" alt="main logo")
            .icon
            include ./templates/main-menu.pug

        include ./templates/hero.pug
    include ./templates/about.pug
    include ./templates/video.pug
    include ./templates/expertise.pug
    include ./templates/team.pug
    include ./templates/works.pug
    include ./templates/reviews.pug
    include ./templates/form.pug
    include ./templates/footer.pug

